<%= form_for(@remember) do |f| %>
  <% if @remember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remember.errors.count, "error") %> prohibited this remember from being saved:</h2>

      <ul>
      <% @remember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :vocabulary_id %><br>
    <%= f.number_field :vocabulary_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
