<p id="notice"><%= notice %></p>

<h1>Listing Remembers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Vocabulary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remembers.each do |remember| %>
      <tr>
        <td><%= remember.user_id %></td>
        <td><%= remember.vocabulary_id %></td>
        <td><%= link_to 'Show', remember %></td>
        <td><%= link_to 'Edit', edit_remember_path(remember) %></td>
        <td><%= link_to 'Destroy', remember, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remember', new_remember_path %>
