<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @remember.user_id %>
</p>

<p>
  <strong>Vocabulary:</strong>
  <%= @remember.vocabulary_id %>
</p>

<%= link_to 'Edit', edit_remember_path(@remember) %> |
<%= link_to 'Back', remembers_path %>
