
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    
<%= form_for(@user_goal) do |f| %>
  <% if @user_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_goal.errors.count, "error") %> prohibited this user_goal from being saved:</h2>

      <ul>
      <% @user_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numbers_of_words %><br>
    <%= f.number_field :numbers_of_words %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
