<p id="notice"><%= notice %></p>

<p>
  <strong>Numbers of words:</strong>
  <%= @user_goal.numbers_of_words %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @user_goal.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @user_goal.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_goal.user_id %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@user_goal) %> |
<%= link_to 'Back', user_goals_path %>
