<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!DOCTYPE html>
<html>
  <head>
    
    <title>E4kids</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>


<!--<% if user_signed_in? %>
                <h3 style="color:red"> Hello, <%= current_user.email %></h3>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <%= link_to "Goals", user_goals_path %>
                <% else %>
                <%= link_to "login", new_user_session_path %>
                <%= link_to "register", new_user_registration_path %>
                <% end %>-->